<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"/>
  <head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta http-equiv="content-language" content="en" />  
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="{{ site.description }}"/>
    <link href="{{site.baseurl}}/css/style5.css" rel="stylesheet"/>
    
    
  </head>

  <body>

    <div class="topbar">
          <h2>{{ site.name }}</h2>
          
          <ul class="nav">
              <li> <a href="{{site.baseurl}}index.html">Home</a></li>
              <li><a href="{{site.baseurl}}portfolio/index.html">Portfolio</a></li>
              <li><a href="{{site.baseurl}}contact/index.html">Contact Me</a></li>
              {% if page.back %} <li><a href="{{site.baseurl}}{{page.back}}/index.html#{{page.id}}">Back</a></li>
              {% endif %}
          </ul>
          </div>
      
    

    <div class="container">
	
	<h2>{{ page:title }}</h2>
	
		
</div>
       
