<h3>David Hatton</h3>
<img src="/pics/thumbs/zodiac.jpg"  width="94" height="140"/>
<p>A Sculptor/ModelMaker and Scenic Artist for over 25 years.</p>
<hr/>
{% for post in site.posts limit: 5 %}
<h3>Recent Posts</h3>
<ul>	  
   <li><a href="{{ post.url }}">{{ post.title }}</a></li>
</ul>
  <h4><a href="#posts"><b>All Posts --></b></a></h4>
<ul class="posts" id="posts">
{% for post in site.posts  %}
  
	  
    <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
            <span>({{ post.date | date:"%Y-%m-%d" }})</span>
    </li>
    </br> <em>{{ post.excerpt }} </em>
    
  {% endfor %}
</ul>
{% endfor %}

<hr/>

{% if page.title == 'Site Map' %}
<br/>
{% else %}
<h4><a href="/sitemap.html"> Site Map</a></h4>
{% endif %}

<!--<h3>Links</h3>
<ul>
<li><a href="http://co3creativeworkshop.co.uk">Co3CreativeWorkshop</a></li>
<li><a href="http://imprintmodels.co.uk/"> Imprint Models</a></li>  
</ul>
-->
<hr/>
